name: Build and Publish Docker Image

on:
  push:
    branches:
      - main

jobs:
  build-and-publish:
    runs-on: self-hosted
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build C# Docker image
        run: docker build -f CommsSender.Core/Dockerfile -t 192.168.1.100:5000/commssenderapi:latest .

      - name: Push Docker image
        run: docker push 192.168.1.100:5000/commssenderapi:latest
